<h3 style="margin-top: 10px;margin-bottom: 10px;">Select ADUser</h3>
<mat-dialog-content>

  <app-ad-user-selector></app-ad-user-selector>

</mat-dialog-content>
<mat-dialog-actions
  style="flex-flow: row-reverse wrap; margin-top: 20px;">
  <button mat-raised-button
          color="primary"
          [mat-dialog-close]="GetADUser()" cdkFocusInitial
          [disabled]="!userSelector.ValidSelection()"
          style="margin-left: 10px; margin-bottom: 10px;">Accept</button>

  <button mat-raised-button [mat-dialog-close]
          style="margin-left: 10px; margin-bottom: 10px;">Cancel</button>
</mat-dialog-actions>
