<mat-card>
  <mat-card-content>
    <section class="list-wrapper" *ngIf="!(loading$ | async)">
      <header class="list-header list-wrapper-item">
          <span class="list-header-title">
            <mat-icon>account_circle</mat-icon><span>{{user.Username}}</span>
          </span>
      </header>
      <mat-tab-group *ngIf="!(loading$ | async)">
        <mat-tab>
          <ng-template mat-tab-label>
              <mat-icon class="showone-tab-icon">info</mat-icon>
              Info
          </ng-template>
          <app-user-info class="user-one-item" [user]="this.user"></app-user-info>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="showone-tab-icon">settings</mat-icon>
            Settings
          </ng-template>
          <div>
            <app-user-settings class="user-one-item"
                                [user]="this.user"
                                (change)="refresh($event)"></app-user-settings>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="showone-tab-icon">supervisor_account</mat-icon>
            Groups
          </ng-template>
          <app-user-group-list [user]="user"></app-user-group-list>
        </mat-tab>
      </mat-tab-group>
    </section>
  </mat-card-content>
</mat-card>
