<div class="showone-tab-item-wrapper">
    <div>
        <b><strong>ID</strong></b> <br/>
        <span>{{group.ID}}</span>
    </div>
    <br/>
    <div>
        <b><strong>Name</strong></b> <br/>
        <span>{{group.Name}}</span>
    </div>
    <br/>
    <div>
        <b><strong>Description</strong></b> <br/>
        <span>{{group.Description}}</span>
    </div>
    <br/>
    <div>
        <b><strong>Actived</strong></b> <br/>
        <span>{{(group.Actived ? 'Yes' : 'No')}}</span>
      </div>

  <div style="height: 20px; width: 100%;"></div>

  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Users
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-group-aduser-list [group]="group"></app-group-aduser-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
