<div class="showone-tab-item-wrapper">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="groupID">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell class="name-cell"
                    *matCellDef="let g">
            <a [routerLink]="['/','groups', 'showone', g.GroupID]">{{g.GroupID}}</a>
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="groupname">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell class="name-cell"
                  *matCellDef="let g">
          <a [routerLink]="['/','groups', 'showone', g.GroupID]">{{g.GroupName}}</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

  <mat-paginator [length]="(dataSource.count$ | async)" [pageSize]="initialPageSize"
                  [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>
</div>
